In [1]:
import pandas as pd
import h5py
import numpy as np
ifname = "C:/Users/Arsenii/JUNO/processed_0.hdf5"

evtIDs = [i for i in range(0, 2000, 1)]

minTimeLPMT_array = []
minTimeSPMT_array = []

f_in = h5py.File(ifname, "r")

for evtID in evtIDs:
    
    minTimeLMPT = f_in['lpmt_hits']['hitTime'][evtID].min()
    minTimeLPMT_array.append(minTimeLMPT)
    
    minTimeSPMT = f_in['spmt_hits']['hitTime'][evtID].min()
    minTimeSPMT_array.append(minTimeSPMT)
            
f_in.close()

In [2]:
df = pd.DataFrame(np.array([minTimeLPMT_array, minTimeSPMT_array]).T, columns=['minTimeLMPT', 'minTimeSPMT'])

In [3]:
df

      minTimeLMPT  minTimeSPMT
0        0.151929    31.260576
1        0.107570    24.282885
2        0.059060    54.783138
3        0.008964    48.260670
4        0.004383    37.048595
...           ...          ...
1995     0.034794    19.742989
1996     0.062995    35.169987
1997     0.046345    20.075399
1998     0.029867    21.262285
1999     0.032543    38.260548

[2000 rows x 2 columns]

In [4]:
df.to_csv('minTimes.csv', index=False)